<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="BuyMapper">
 	
 	
	<resultMap id="buySelectMapper" type="buy">
		
<!--   		<association property="buyer" column="userId" javaType="com.model2.mvc.service.domain.User" select="getUserId"/> -->
<!--   		<association property="PurchaseProd" column="prodNo" javaType="com.model2.mvc.service.domain.Product" select="getProdNo"/> -->
	</resultMap>
	
	
	
</mapper>